.hero {
    display: flex;
    justify-content: space-between;
    width: 1200px;
    margin-top: 26px;
}

.left-side-content {
    width: 310px;
    display: flex;
    flex-direction: column;
}

.characteristics {
    background-color: #FBFBFB;
    padding: 14px 18px;
}

.category {
    font-weight: 400;
    font-size: 15px;
    color: #3D3D3D;
    line-height: 40px;
    display: block;
    text-decoration: none;
    transition-property: all;
    transition-duration: 0.7s;
    transition-timing-function: linear;

    &:hover {
        color: #46A358;
        font-weight: 800;
    }
}

.categories-title {
    font-size: 18px;
    font-weight: 700;
}

.category:last-child {
    margin-bottom: 0px;
}

.categories {
    padding-left: 12px;
    margin-top: 7px;
}


.banner-image {
    margin-top: 100px;
}

.banner-image img {
    width: 100%;
    object-fit: contain;
}

.right-side-content {
    width: 840px;
    margin-left: 50px;
    display: flex;
    flex-direction: column;
}

.menu {
    margin-bottom: 31px;
    display: flex;
    justify-content: space-between;
}

.link {
    text-decoration: none;
    font-size: 15px;
    font-weight: 400;
    line-height: 16px;
    color: #3D3D3D;
    vertical-align: top;
}

.active {
    border-bottom: 2px solid #46A358;
    color: #46A358;
    padding-bottom: 7px;
}

.left-menu {
    display: flex;
    gap: 30px;
}

.right-menu {
    display: flex;
    gap: 8px;
    vertical-align: baseline;
}

.menu-text {
    font-size: 15px;
    font-weight: 400;
    text-decoration: none;
    color: #3D3D3D;
}

 .right-menu-icons {
    display: flex;
    vertical-align: top;
 }

.cards-im {

    margin-top: 30px;
}


.flowers {
    margin-top: 30px;
    margin-right: 10px;
}

.cards-im:nth-child(3n) {
    margin-right: 0;
}

.card {
    float: left;
    width: 258px;
    margin-right: 33px;

}

.card:nth-child(3n) {
    margin-right: 0;
}

.card:nth-last-of-type(n+4) {
    margin-bottom: 70px;
}

.card-image {
    width: 100%;
    margin-left: 4px;
    margin-right: 4px;
}

.card-image-wrapper {
    padding-top: 30px;
    padding-bottom: 19px;
    background-color: #FBFBFB;
    position: relative;
}

.card-title {
    font-size: 16px;
    font-weight: 400;
    line-height: 16px;
    color: #3D3D3D;
    margin-bottom: 6px;
}

.card-price {
    font-size: 18px;
    font-weight: 700;
    line-height: 16px;
    color: #46A358;
}

.pagination {
    display: flex;
    gap: 10px;
    justify-content: flex-end;
    margin-top: 90px;
}

.pagination-link {
    width: 35px;
    height: 35px;
    text-align: center;
    line-height: 35px;
    border: 1px solid #E5E5E5;
    border-radius: 4px;
    text-decoration: none;
    color: #3D3D3D;
    font-size: 18px;
    font-weight: 300;
}

.pagination-link-active {
    background-color: #46A358;
    color: #FBFBFB;
}

.pagination-link-follow {
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-hover {
    display: flex;
    gap: 26px;
    justify-content: center;
    display: none;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 7px;
}

.card {
    position: relative;
}

.card:hover .card-hover {
    display: flex;
}

.hover-button {
    border: none;
    background-color: #FBFBFB;
}

.card::before {
    content: "";
    height: 1px;
    background-color: #46A358;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    display: none;
    z-index: 1;
}

.card:hover::before {
    display: block;
}

.sale {
    position: absolute;
    top: 14px;
    left: 0;
    width: 80px;
    height: 29px;
    font-size: 16px;
    font-weight: 500;
    line-height: 16px;
    text-align: left;
    background-color: #46A358;
    color: #FFFFFF;

    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
}

